.navbar {
    overflow: hidden;
    background-color: #0085b2;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

body {
    margin-top: 65px;
    padding: 0;
    height: 100%;
}

h1 {
    color: black;
}

p {
    color: black;
}

.jumbotron {
    background-color: #0085b2;
    border-radius: 100px;
}

.jumbotron h1 {
    color: white;
}

.footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #333;
    text-align: center;
}

.footer p {
    color: white;
}

.container {
    text-align: center
}

.text {
    text-align: center
}

.tab:hover {
    right: 100;
    color: #659EC7;
}

.navbar-brand:hover {
    color: #659EC7;
}

.text pre {
    text-align: center;
    white-space: normal;
}

button {
    background-color: #0085b2;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 5px;
    position: relative;
    top: -6px;
}

pre {
    position: center;
}




.button1 {

    right: -50px
}

.button2 {

    right: -20px
}


.button3 {

    right: -50px
}

.button4 {

    right: -50px
}


.button5 {

    right: -50px
}
